<!DOCTYPE html>
html(lang="en")
    head
        <title>Beginning SVG: Creating a simple example</title>
        <link rel="stylesheet" href="style.css">
    body
      <h2>Beginning SVG: A Simple Example</h2>
      svg
        circle(cx=60, cy=60, r=50 stroke='black', stroke-width=5, fill='silver')/
        