doctype
html(lang="en")
 head
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   title ToDo
 
 body.m-1.p-1
   h3.bg-primary.text-white.p-3 Adam's To Do List
   .my-1
     input.form-control/
     button.btn.btn-primary.mt-1 Add
   table.table.table-striped.table-bordered
     thead
       tr 
         th Description
         th Done
       - 
         data = [
           ['Buy Flowers', false],
           ['Get Shoes', false],
           ['Collect tickets', true],
           ['Call Joe', false]
           ];
           
       each val in data
         tr
           td=val[0]
           td=val[1] ? 'Yes' : 'No'
         
       

    
    
   
